// Colors
$color: (
    profile: #7c17ff,
    text: #161616,
    dividers: #ddd,
    background: #fff
);

// Fonts
$font-sans: "Basis Grotesque Ia", Helvetica, Arial, sans-serif;
$font-serif: "Suisse Works Ia", "Times New Roman", Times, serif;

// Dimensions
